$brand-primary-color: #0074A6;
$brand-secondary-color: #5CAFCC;
$success-color: #88E654;
$font-default-color: #666666;
$font-highlight-color: #01618C;
$font-family: "BalsamiqSans";
$header-height: 70px;
