h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-highlight-color;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: modular-scale(6 - $i);
  }
}


.header-outside {
  height: $header-height;
}

.header {
  @include outer-container;
}

.header-items {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);
  height: $header-height;
}

.header-title {
  margin: 0;
}

.navigator-header {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  margin-bottom: 30px;
}

.navigator-item {
  margin-right: 60px;
  color: $brand-secondary-color;
}

.content {
  @include outer-container;
}

.login-input {
  max-width: 300px;
}

.tick {
  color: $success-color
}

.landing-heading {
  margin-top: 60px;
  margin-bottom: 40px;
}

.landing-chart {
  margin-top: 40px;
}
